<%= render partial: './merchant_nav_bar' %>

<div class="row">
  <p class='col-12'>Edit Discount #<%= @discount.id %></p>
</div>

<div id="edit-discount-form">
  <%= render partial: 'form', locals: { model: @discount, url: merchant_discount_path(@merchant, @discount), button_text: 'Update', method: :patch } %>
</div>