<%= render partial: './merchant_nav_bar' %>

<div class="row">
  <p class='col-12'>My Discounts</p>
</div>

<% @merchant.discounts.each do |discount| %>
  <p><%= link_to "Discount ##{discount.id}", merchant_discount_path(@merchant, discount) %> - <%= discount.description %></p>
<% end %>

<%= link_to "Create a new discount", new_merchant_discount_path(@merchant) %>