<%= render partial: './merchant_nav_bar' %>

<div class="row">
  <p class='col-12'>Create Discount</p>
</div>

<div id="new-discount-form">
  <%= render partial: 'form', locals: { model: @discount, url: merchant_discounts_path(@merchant), button_text: 'Create', method: :post } %>
</div>